@import 'var';

.tweet-wrapper {
   display: flex;
   flex-direction: row;
   padding: 0 10px;

   box-shadow: 0 0 1px 0 #8899a6;
}

.tweet {
   &:hover {
      background-color: #192734;
   }

   &__avatar {
      display: flex;
      flex-grow: 0;
      max-width: 15%;
      flex-basis: 15%;
      padding: 20px 0 0 0;

      img {
         width: 50px;
         height: 50px;
         margin-left: auto;
         margin-right: auto;

         border-radius: 50%;
      }
   }

   &__column {
      flex-grow: 0;
      max-width: 85%;
      flex-basis: 85%;
   }

   &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .svg {
         color: $silver;
      }
   }

   &__author {
      margin-bottom: 5px;
      margin-left: 10px;
      margin-top: 10px;

      span:first-child {
         color: inherit;
      }

      span {
         color: $silver;
      }
   }

   &__post {
      padding-right: 50px;
      margin-left: 10px;
      margin-top: 10px;
      p {
         word-break: break-word;
         margin: 0;
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 50px;
      margin: 5px 0;
      color: $silver;

      :hover {
         cursor: pointer;
         span {
            color: $blue;
         }

         button {
            background-color: #1da0f228;
         }

         button svg {
            fill: #1da1f2;
            cursor: pointer;
         }
      }

      &__btn {
         display: flex;
         align-items: center;

         button {
            min-width: 40px;
            min-height: 40px;
            padding: 0;
         }

         svg {
            overflow: visible;
            vertical-align: middle;
            border-radius: 100%;
         }
      }
   }
}

.tweetPage {
   display: flex;
   flex-direction: column;
   width: 100%;
   box-shadow: 0 0 1px 0 #8899a6;

   &__container {
      margin: 0 15px;
   }

   &__author {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      img {
         min-width: 50px;
         min-height: 50px;
         width: 50px;
         height: 50px;
         margin-right: 10px;
         border-radius: 50%;
      }
   }

   &__name {
      display: flex;
      flex-direction: column;
      width: 100%;

      span:last-child {
         color: $silver;
      }

      .tweet__top {
         width: 100%;
      }
   }

   .tweet__post {
      margin: 20px 0;

      font-size: 23px;
      font-weight: 400;
   }

   &__date {
      color: $silver;
   }

   &__stats {
      margin: 10px 0;
      color: $silver;

      span {
         margin-right: 20px;

         b {
            color: #ffffff;
         }
      }
   }

   .tweet__bottom {
      padding: 0 50px;
      &__btn svg {
         font-size: 25px;
      }
   }
}

.btnMore {
   position: relative;

   &__buttons {
      width: 200px;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: 0px 0px 6px 3px #ffffff6c;
      border-radius: 5px;
      background-color: $black;

      li {
         padding: 15px;
         text-align: left;

         &:hover {
            border-radius: inherit;
            background-color: #192734;
         }
      }
   }
}
