.tweet {
   display: flex;
   flex-direction: row;
   padding: 0 10px;

   box-shadow: 0 0 1px 0 #8899a6;

   &:hover {
      background-color: #192734;
   }

   &__avatar {
      display: flex;
      flex-grow: 0;
      max-width: 15%;
      flex-basis: 15%;
      padding: 20px 0 0 0;

      img {
         width: 50px;
         height: 50px;
         margin-left: auto;
         margin-right: auto;

         border-radius: 50%;
      }
   }

   &__column {
      flex-grow: 0;
      max-width: 85%;
      flex-basis: 85%;
   }

   &__author {
      span:first-child {
         color: inherit;
      }

      span {
         color: $silver;
      }
   }

   &__post {
      padding-right: 25px;
      p {
         margin: 0;
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 25px;
      color: $silver;

      :hover {
         cursor: pointer;
         span {
            color: $blue;
         }

         button {
            background-color: #1da0f228;
         }

         button svg {
            fill: #1da1f2;
            cursor: pointer;
         }
      }

      &__btn {
         display: flex;
         align-items: center;

         button {
            min-width: 50px;
            min-height: 50px;
            padding: 10px;
         }

         svg {
            overflow: visible;
            vertical-align: middle;
            border-radius: 100%;
         }
      }
   }
}
